@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.head{
    height: 120px;
    width: 100%;
    position: relative;
}
.top{
    background: #E8E8E8;
    height: 30px;
}
.head .top span{
    margin-left: 70px;
    line-height: 30px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #737070;
}
.head .top .nav{
    float: right;
    margin-right: 70px;
    width: 590px;
}
.head .top .nav>ul>li{
    list-style: none;
    float: left;
    margin-right: 15px;
    line-height:30px ;
}
.head .top .nav>ul li a{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #737070;
}
@font-face {
    font-family: 'iconfont';
    src: url('../icon/xiangxia/iconfont.eot'); /* IE9*/
    src: url('../icon/xiangxia/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/xiangxia/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../icon/xiangxia/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/xiangxia/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.head .top .nav>.u1 a .xiangxia {
    font-family:"iconfont" !important;
    font-size:4px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.head .top .nav>.u1 div ul li{
    list-style: none;
    text-align: center;
    height: 25px;
}
.head .top .nav>.u1>.li1{
    height: 30px;
    width: 75px;
    margin-right: 15px;
    position: relative;
}
.head .top .nav>.u1>.li1:hover div{
    height: 50px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li1>div{
    height: 0px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    right: 0px;
    background: white;
    transition: height 0.5s;
}
.head .top .nav>.u1>.li2{
    height: 30px;
    width: 80px;
    position: relative;
}
.head .top .nav>.u1>.li2:hover div{
    height: 54px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li2>div{
    position: absolute;
    background: white;
    z-index: 10;
    height: 0px;
    width: 100px;
    overflow: hidden;
    right: 0px;
    transition: height 0.5s;
}
.head .top .nav>.u1>.li3{
    height: 30px;
    width: 65px;
    position: relative;
}
.head .top .nav>.u1>.li3:hover div{
    height: 104px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li3>div{
    position: absolute;
    background: white;
    z-index: 10;
    height: 0px;
    width: 200px;
    overflow: hidden;
    right: 0;
    transition: height 0.5s;
}
.head .icon{
    width: 250px;
    height: 90px;
    float: left;
    margin-left: 70px;
}
.head .main_nav{
    float: right;
    height: 90px;
    width: 840px;
    margin-right: 50px;
    position: relative;
}
.head .main_nav nav{
    position: relative;
    width: 678px;
    height: 90px;
    float: left;
}
.head .main_nav nav>ul>li{
    list-style: none;
    float: left;
    text-align: center;
    width: 100px;
    height: 90px;
    position: relative;
}
.head .main_nav nav>ul>li:first-child{
    width: 75px;
}
.head .main_nav nav>ul>.red{
    background: red;
}
.head .main_nav nav>ul>.red>a{
    color: white;
}
.head .main_nav nav>ul>li:last-child{
    border-right: 1px solid #D3D1D1;
}
.head .main_nav nav>ul>li:hover{
    background:#FF0000 ;
}
.head .main_nav nav>ul>li:hover a{
    color: white;
}
.head .main_nav nav>ul>li:hover .child_ul{
    height: 180px;
    transition:height 0.5s;
}
.head .main_nav nav>ul>li>a{
    color: black;
    font-size: 16px;
    line-height: 90px;
    font-weight: bold;
    overflow: hidden;
    transition: 0.3s ease-out all;
}
.head .main_nav nav>ul>.ul_box>.child_ul{
    position: absolute;
    width:420px;
    height: 0px;
    background: #FDF8F8;
    z-index: 10;
    overflow: hidden;
    transition: height 0.5s;
}
.head .main_nav nav>ul>.ul_box>.child_ul-right{
    right: 0px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul{
    width: 150px;
    height: 160px;
    margin-top: 10px;
    float: left;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over{
    overflow-y: scroll;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul>li{
    list-style: none;
    display: block;
    width: 100px;
    height: 30px;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 30px;
    border-bottom:1px solid #D3D1D1;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul>li>a{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>img{
    float: right;
    width: 260px;
    height: 140px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>span{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    font-size: 22px;
    letter-spacing: -1px;
    font-family: 微软雅黑;
    color: #B6B2B2;
    float: left;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over::-webkit-scrollbar-thumb {
    background-color: #9D9C9C;
}
.main_nav .search{
    width: 47px;
    height: 90px;
    float: left;
    position: relative;
}
.head .main_nav .search:hover div{
    height: 44px;
    transition: height 0.5s;
    border: 3px solid black;
    margin: -3px;
}
.head .main_nav .search a{
    display: block;
    width: 100%;
    height:100% ;
    position: absolute;
    right: 0;
}
.head .main_nav .search a i{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    background: url("../img/ico.png");
    border: none;
}
.head .main_nav .search div{
    height: 0px;
    width: 200px;
    position: absolute;
    top: 100%;
    left: -110px;
    z-index: 2;
    overflow: hidden;
    transition: height 0.5s;

}
.head .main_nav .search input{
    padding: 14px 20px;
    width: 156px;
    height: 16px;
    line-height: 16px;
}
.head .main_nav .word{
    position: relative;
    float: left;
    width: 52px;
    height: 90px;
}
.head .main_nav .word>a{
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: 黑体;
    line-height: 90px;
}
.head .main_nav .word:hover div{
    height: 50px;
    transition: height 0.5s;
}
.head .main_nav .word>div{
    position: absolute;
    /*top: 100%;*/
    right: 0;
    overflow: hidden;
    width: 230px;
    height: 0px;
    background: #505050;
    z-index: 10;
    transition: height 0.5s;
}
.head .main_nav .word>div a{
    display: block;
    float: left;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 黑体;
    padding-top: 20px;
    padding-left: 48px;
}
.head .main_nav .word>div a:first-child{
    margin-right: 10px;
}
.head .main_nav .word:hover{

}