@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.head{
    height: 120px;
    width: 100%;
    position: relative;
}
.top{
    background: #E8E8E8;
    height: 30px;
}
.head .top span{
    margin-left: 70px;
    line-height: 30px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #737070;
}
.head .top .nav{
    float: right;
    margin-right: 70px;
    width: 590px;
}
.head .top .nav>ul>li{
    list-style: none;
    float: left;
    margin-right: 15px;
    line-height:30px ;
}
.head .top .nav>ul li a{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #737070;
}
.head .top .nav>.u1 a i{
    display: block;
    float: right;
    width: 14px;
    height: 13px;
    background: url("../img/select.png");
    margin-top: 10px;
}
.head .top .nav>.u1 div ul li{
    list-style: none;
    text-align: center;
    height: 25px;
}
.head .top .nav>.u1>.li1{
    height: 30px;
    width: 75px;
    margin-right: 15px;
    position: relative;
}
.head .top .nav>.u1>.li1:hover div{
    height: 50px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li1>div{
    height: 0px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    right: 0px;
    background: white;
    transition: height 0.5s;
}
.head .top .nav>.u1>.li2{
    height: 30px;
    width: 80px;
    position: relative;
}
.head .top .nav>.u1>.li2:hover div{
    height: 54px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li2>div{
    position: absolute;
    background: white;
    z-index: 10;
    height: 0px;
    width: 100px;
    overflow: hidden;
    right: 0px;
    transition: height 0.5s;
}
.head .top .nav>.u1>.li3{
    height: 30px;
    width: 65px;
    position: relative;
}
.head .top .nav>.u1>.li3:hover div{
    height: 104px;
    transition: height 0.5s;
    border: 1px solid #D3D1D1;
    border-bottom: 3px solid red;
}
.head .top .nav>.u1>.li3>div{
    position: absolute;
    background: white;
    z-index: 10;
    height: 0px;
    width: 200px;
    overflow: hidden;
    right: 0;
    transition: height 0.5s;
}
.head .icon{
    width: 250px;
    height: 90px;
    float: left;
    margin-left: 70px;
}
.head .main_nav{
    float: right;
    height: 90px;
    width: 840px;
    margin-right: 50px;
    position: relative;
}
.head .main_nav nav{
    position: relative;
    width: 678px;
    height: 90px;
    float: left;
}
.head .main_nav nav>ul>li{
    list-style: none;
    float: left;
    text-align: center;
    width: 100px;
    height: 90px;
    position: relative;
}
.head .main_nav nav>ul>li:first-child{
    width: 75px;
}
.head .main_nav nav>ul>.red{
    background: red;
}
.head .main_nav nav>ul>.red>a{
    color: white;
}
.head .main_nav nav>ul>li:last-child{
    border-right: 1px solid #D3D1D1;
}
.head .main_nav nav>ul>li:hover{
    background:#FF0000 ;
}
.head .main_nav nav>ul>li:hover a{
    color: white;
}
.head .main_nav nav>ul>li:hover .child_ul{
    height: 180px;
    transition:height 0.5s;
}
.head .main_nav nav>ul>li>a{
    color: black;
    font-size: 16px;
    line-height: 90px;
    font-weight: bold;
    overflow: hidden;
    transition: 0.3s ease-out all;
}
.head .main_nav nav>ul>.ul_box>.child_ul{
    position: absolute;
    width:420px;
    height: 0px;
    background: #FDF8F8;
    z-index: 10;
    overflow: hidden;
    transition: height 0.5s;
}
.head .main_nav nav>ul>.ul_box>.child_ul-right{
    right: 0px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul{
    width: 150px;
    height: 160px;
    margin-top: 10px;
    float: left;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over{
    overflow-y: scroll;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul>li{
    list-style: none;
    display: block;
    width: 100px;
    height: 30px;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 30px;
    border-bottom:1px solid #D3D1D1;
}
.head .main_nav nav>ul>.ul_box>.child_ul>ul>li>a{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>img{
    float: right;
    width: 260px;
    height: 140px;
}
.head .main_nav nav>ul>.ul_box>.child_ul>span{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    font-size: 22px;
    letter-spacing: -1px;
    font-family: 微软雅黑;
    color: #B6B2B2;
    float: left;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}
.head .main_nav nav>ul>.ul_box>.child_ul>.over::-webkit-scrollbar-thumb {
    background-color: #9D9C9C;
}
.main_nav .search{
    width: 47px;
    height: 90px;
    float: left;
    position: relative;
}
.head .main_nav .search:hover div{
    height: 44px;
    transition: height 0.5s;
    border: 3px solid black;
    margin: -3px;
}
.head .main_nav .search a{
    display: block;
    width: 100%;
    height:100% ;
    position: absolute;
    right: 0;
}
.head .main_nav .search a i{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    background: url("../img/ico.png");
    border: none;
}
.head .main_nav .search div{
    height: 0px;
    width: 200px;
    position: absolute;
    top: 100%;
    left: -110px;
    z-index: 2;
    overflow: hidden;
    transition: height 0.5s;

}
.head .main_nav .search input{
    padding: 14px 20px;
    width: 156px;
    height: 16px;
    line-height: 16px;
}
.head .main_nav .word{
    position: relative;
    float: left;
    width: 52px;
    height: 90px;
}
.head .main_nav .word>a{
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: 黑体;
    line-height: 90px;
}
.head .main_nav .word:hover div{
    height: 50px;
    transition: height 0.5s;
}
.head .main_nav .word>div{
    position: absolute;
    /*top: 100%;*/
    right: 0;
    overflow: hidden;
    width: 230px;
    height: 0px;
    background: #505050;
    z-index: 10;
    transition: height 0.5s;
}
.head .main_nav .word>div a{
    display: block;
    float: left;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 黑体;
    padding-top: 20px;
    padding-left: 48px;
}
.head .main_nav .word>div a:first-child{
    margin-right: 10px;
}
.head .main_nav .word:hover{

}
.body{
    width: 100%;
    height: auto;
    position: relative;
}
.body .big_img{
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.body .big_img .bg{
    height: 100%;
    width: 100%;
}
.body .big_img>.bg>img{
    width: auto;
    height: 100%;
    margin-left: -300px;
}
.body .big_img .word{
    position: absolute;
    bottom: 0px;
    left: 75px;
    width: 306px;
    height: 131px;
    background: rgba(255,0,0,0.7);
}
.body .big_img .word img{
    display: block;
}
.body .big_img .word span{
    font-family: 微软雅黑;
    color: white;
}
.body .big_img .word a{
    font-family: 微软雅黑;
    color: white;
}
.body .big_img .word .first-span{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    left: 35px;
}
.body .big_img .word .second-span{
    position: absolute;
    bottom: 25px;
    left: 35px;
}
.body .big_img .word .second-span a,i{
    font-style: normal;
    font-size: 14px;
}
.body .center-1{
    width: 90%;
    height: 470px;
    box-sizing: border-box;
    padding: 28px 0 40px;
    margin: 0 auto;
}
.body .center-1 .title{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}
.body .center-1 .title span a{
    color: #505050;
    font-family: 微软雅黑;
    transition: 0.5s ease-out all;
}
.body .center-1 .title span a:hover{
    color: #07528c;
    transition: 0.5s ease-out all;
}
.body .center-1 .title span:first-child{
    font-size: 24px;
    font-weight: bold;
}
.body .center-1 .title span:last-child{
    font-size: 12px;
    float: right;
    padding-top: 12px;
}
.body .center-1 .box{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}
.body .center-1 .box .left-1{
    width: 330px;
    height: 100%;
}
.body .center-1 .box .center{
    width: 330px;
    height: 100%;
}
.body .center-1 .box .right-1{
    width: 485px;
    height: 100%;
    position: relative;
}
.body .center-1 .box .img{
    width: 100%;
    height: 75%;
    position: relative;
}
.body .center-1 .box .img img{
    width: 100%;
    height: 100%;
}
.body .center-1 .box .img .date{
    position:absolute ;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 120px;
    background: rgba(7,82,140,.8);
    text-align: center;
    line-height:40px ;
    color: #fff;
    font-size: 12px;
    font-family: 微软雅黑;
}
.body .center-1 .box .explain p{
    color: #505050;
    font-family: 微软雅黑;
}
.body .center-1 .box .explain p:first-child{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.body .center-1 .box .explain p:last-child{
    font-size: 12px;
    line-height: 21px;
}
.body .center-1 .box .right-1 ul>li{
    margin-left: 19px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 15px;
    height: 65px;
    border-bottom: 1px dashed #dadada;
    list-style: none;
    position: relative;
}
.body .center-1 .box .right-1 ul>li>a{
    font-family: 微软雅黑;
    display: block;
    color: #505050;
}
.body .center-1 .box .right-1 ul>li>a:hover{
    color: #07528c;
}
.body .center-1 .box .right-1 ul>li>a>span:first-child{
    display: block;
    font-size: 15px;
}
.body .center-1 .box .right-1 ul>li>a>span:last-child{
    font-size: 12px;
}
.body .center-1 .box .right-1 ul>li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #b0b0b0;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.body .center-2{
    width:100%;
    height: 450px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    padding: 28px 70px 10px;
}
.body .center-2 .title{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}
.body .center-2 .title span a{
    color: #505050;
    font-family: 微软雅黑;
    transition: 0.5s ease-out all;
}
.body .center-2 .title span a:hover{
    color: #07528c;
    transition: 0.5s ease-out all;
}
.body .center-2 .title span:first-child{
    font-size: 24px;
    font-weight: bold;
}
.body .center-2 .title span:last-child{
    font-size: 12px;
    float: right;
    padding-top: 12px;
}
.body .center-2 .box{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}
.body .center-2 .box .left-1{
    width: 485px;
    height: 100%;
    position: relative;
}
.body .center-2 .box .center{
    width: 330px;
    height: 100%;
}
.body .center-2 .box .right-1{
    width: 330px;
    height: 100%;
}
.body .center-2 .box .img{
    width: 100%;
    height: 75%;
    position: relative;
}
.body .center-2 .box .img img{
    width: 100%;
    height: 100%;
}
.body .center-2 .box .img .date{
    position:absolute ;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 120px;
    background: rgba(7,82,140,.8);
    text-align: center;
    line-height:40px ;
    color: #fff;
    font-size: 12px;
    font-family: 微软雅黑;
}
.body .center-2 .box .explain p{
    color: #505050;
    font-family: 微软雅黑;
}
.body .center-2 .box .explain p:first-child{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.body .center-2 .box .explain p:last-child{
    font-size: 12px;
    line-height: 21px;
}
.body .center-2 .box .left-1 ul>li{
    margin-left: 19px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 15px;
    height: 65px;
    border-bottom: 1px dashed #dadada;
    list-style: none;
    position: relative;
}
.body .center-2 .box .left-1 ul>li>a{
    font-family: 微软雅黑;
    display: block;
    color: #505050;
}
.body .center-2 .box .left-1 ul>li>a:hover{
    color: #07528c;
}
.body .center-2 .box .left-1 ul>li>a>span:first-child{
    display: block;
    font-size: 15px;
}
.body .center-2 .box .left-1 ul>li>a>span:last-child{
    font-size: 12px;
}
.body .center-2 .box .left-1 ul>li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #b0b0b0;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.body .center-3{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 375px;
    width: 90%;
    margin: 0 auto;
    padding: 55px 0 65px;
    position: relative;
}
.body .center-3 .left-3{
    width: 380px;
    height: 100%;
    position: relative;
}
.body .center-3 .center{
    width: 380px;
    height: 100%;
    position: relative;
}
.body .center-3 .right-3{
    width: 380px;
    height: 100%;
    position: relative;
}
.body .center-3 span{
    font-family: 微软雅黑;
    color: #505050;
}
.body .center-3 .block .title-1-1{
    font-size: 24px;
    font-weight: bold;
}
.body .center-3 .block .title-1-2{
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 10px;
}
.body .center-3 .block .img-1{
    margin-top: 10px;
    width: 100%;
    height: 84%;
    overflow: hidden;
}
.body .center-3 .block .img-1 img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out all;
}
.body .center-3 .block .img-1 img:hover{
    transform: scale(1.3,1.3);
    transition: 0.5s ease-out all;
}
.body .center-3 .block .img-1 .word{
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 50px;
    color: white;
    line-height: 50px;
    padding-left: 10px;
}
.body .center-3 .block .img-1 .icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height:64px;
    width: 64px;
    margin-left: -32px;
    background: url("../img/page-3/play.png");
}
.foot{
    position: relative;
    height: 365px;
    width: 100%;
}
.foot .foot_top{
    width: 100%;
    height: 275px;
    position: relative;
    border: 1px solid blue;
    background: url("../img/f_t_bg.gif");
}
.foot .foot_top>ul{
    margin-left: 95px;
    margin-top: 30px;
}
.foot .foot_top>ul>li{
    float: left;
    list-style: none;
    width: 325px;
    height: 38px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 38px;
}
.foot .foot_top>ul>li:first-child{
    width: 190px;
}
.foot .foot_top>ul>li>i{
    display: block;
    width: 45px;
    height: 35px;
    float: left;
    margin-right: 20px;
}
.foot .foot_top>ul>li>.i_1{
    background: url("../img/f_ico.png");
}
.foot .foot_top>ul>li>.i_2{
    background: url("../img/f_ico.png");
    background-position: -45px 0;
}
.foot .foot_top>ul>li>.i_3{
    background: url("../img/f_ico.png");
    background-position: -90px 0;
}
.foot .foot_top>ul>li ul{
    padding-left: 65px;
    margin-right: 10px;
    margin-top: 20px;
    height: 140px;
}
.foot .foot_top>ul>li>.foot-child_ul>li{
    font-size: 14px;
    color: #95CCFB;
    font-weight: normal;
    font-family: 黑体;
    list-style: none;
    height: 28px;
    line-height: 28px;
}
.foot .foot_top>ul>li>.width-0{
    overflow-y:scroll;
    overflow-x: hidden;
}
.foot .foot_top>ul>li>.width-0::-webkit-scrollbar{
    width: 5px;
    background-color: black;
}
.foot .foot_top>ul>li>.width-0::-webkit-scrollbar-thumb {
    background-color: #9D9C9C;
}
.foot .foot_top>ul>li>.width-0>li{
    width: 100px;
}
.foot .foot_top>ul>li>.width-1{
    border-left: 1px solid #617185;
}
.foot .foot_top>ul>li>.width-2{
    border-left: 1px solid #617185;
}
.foot .foot_top>ul>li>.width-1>li{
    width: 100px;
    float: left;
}
.foot .foot_top>ul>li>.width-2>li{
    width: 200px;
}
.foot .foot_top .wibo,.phone{
    float: left;
    width: 130px;
    height: 160px;
    margin-top: 35px;
}
.foot .foot_top .phone{
    margin-left: 30px;
}
.foot .foot_top  p{
    font-size: 12px;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
.foot .foot_bottom{
    position: relative;
    width: 100%;
    height: 70px;
    top:15px;
}
.foot .foot_bottom .foot_icon{
    float: left;
    margin-left: 70px;
    margin-right: 30px;
    padding-left: 40px;
    width: 20%;
    height: 70px;
}
.foot .foot_bottom .foot_icon .foot-icon-1{
    display: block;
    width: 46px;
    height: 33px;
    float: left;
    margin-right: 10px;
    line-height: 33px;
    font-family: 黑体;
    font-size: 14px;
    color: #555555;
}
.foot .foot_bottom .foot_icon a{
    display: block;
    float: left;
    width: 33px;
    height: 33px;
}
.foot .foot_bottom .foot_icon .foot-icon-2{
    background: url("../img/f_share.jpg");
    margin-right: 10px;
}
.foot .foot_bottom .foot_icon .foot-icon-3{
    background: url("../img/f_share.jpg");
    background-position: -33px 0;
    margin-right: 10px;
}
.foot .foot_bottom .foot_icon .foot-icon-4{
    background: url("../img/f_share.jpg");
    background-position: -66px 0;
    margin-right: 10px;
}
.foot .foot_bottom .foot_icon .foot-icon-5{
    background: url("../img/f_share.jpg");
    background-position: -99px 0;
}
.foot .foot_bottom p{
    font-size: 13px;
    color: #555;
}
.foot .foot_bottom p a{
    color: #505050;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
}
.foot .foot_bottom p a:hover{
    color: #07528c;
}
.foot .float{
    position: absolute;
    bottom: 3%;
    right: 70px;
    width: 335px;
    height: 110px;
}
.foot .float .float_top{
    height: 30%;
    width: 98.5%;
    background:#FF0000 ;
}
.foot .float .float_top span{
    font-size: 14px;
    color: white;
    line-height: 35px;
    cursor: pointer;
}
.foot .float .float_top span:first-child{
    display: inline-block;
    margin-left: 10px;
    width: 87%;
    height: 100%;
}
.foot .float .float_top span:hover+.list {
    height: 90px;
    transition: height 0.5s;
}
.foot .float .float_bottom{
    width: 86.5%;
    height: 20%;
    padding: 20px;
    background: #D5D5D5;
}
.foot .float .float_bottom a{
    display: inline-block;
    width: 54px;
    height: 18px;
    font-size: 13px;
    line-height: 27px;
    color: black;
}
.foot .float .float_bottom a:hover{
    text-decoration: underline;
}
.foot .float .float_bottom em{
    font-size: 12px;
    color: #aeaeae;
    font-style: normal;
    line-height: 27px;
}
.foot .float .float_top .list{
    width:325px;
    height: 0px;
    position: absolute;
    background: white;
    bottom: 110px;
    /*padding: 10px;*/
    overflow: hidden;
}
.foot .float .float_top .list li{
    padding: 0px 10px;
    list-style: none;
    height: 25%;
}
.foot .float .float_top .list li a{
    font-size: 14px;
    color: black;
    font-family: 微软雅黑;
    line-height: 100%;
}
.foot .float .float_top .list li:hover{
    background: #dddddd;
}
.absolute_div{
    width: 73px;
    height: 257px;
    position: fixed;
    right: 0px;
    bottom: 100px;
}
.absolute_div .abs{
    width: 71.5px;
    height: 71px;
    background: url("../img/right.png");
}
.absolute_div .abs-1{
    transition: 0.3s ease-out all;
}
.absolute_div .abs-1:hover{
    background-position: -72px 0px;
    transition: 0.3s ease-out all;
}
.absolute_div .abs-2{
    background-position: 0px -71px;
    transition: 0.3s ease-out all;
}
.absolute_div .abs-2:hover{
    background-position: -72px -72px;
    transition: 0.3s ease-out all;
}
.absolute_div .abs-3{
    background-position: 0px -142px;
    transition: 0.3s ease-out all;
}
.absolute_div .abs-3:hover~.abs-img{
    width: 140px;
    height: 140px;
    transition: 0.3s ease-out all;
}
.absolute_div .abs-img{
    position: absolute;
    right: 72px;
    top: 120px;
    width: 0px;
    height: 0px;
    z-index: 20;
}
.absolute_div .abs-img img{
    width: 100%;
    height: 100%;
}
.absolute_div .abs-3:hover{
    background-position: -72px -144px;
    transition: 0.3s ease-out all;
}
.absolute_div .min-abs{
    height: 43px;
    width: 200%;
    background: url("../img/right.png");
    background-position: 0px -213px;
    transition: 0.3s ease-out all;
}
.absolute_div .min-abs:hover{
    background-position: -71px -213px;
    transition: 0.3s ease-out all;
}